.thumbnail {
  width: 40%;
  height: auto;
  z-index:999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
.thumbnail:hover {
    transform: scale(2);
}

.button, #active {
    background-color:white !important;
}

.button {
    background-color:#ba0c2f !important;
}

.button:hover {
    background-color:#007a86 !important;
}


#introDiv {
    background-color:white !important;
}


#topbar {
    width: 20%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

body { font-family: "Gotham A","Gotham B","Helvetica Neue",Helvetica,Arial,sans-serif; }

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Vitesse A","Vitesse B",Cambria,Rockwell,"Times New Roman",serif;
font-weight: 700;
line-height: 1.1;
}